/* "Oswald" font familly */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* "Noto Sans" font familly */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Inder font familly */
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
/* import tailwwind */
@import "tailwindcss";

@theme {

  --font-Oswald: Oswald, "sans-serif";
  --font-NotoSans: Noto Sans, "sans-serif";
  --font-Inder: Inder, "sans-serif";

  --color-light-gray: #C4C4C4;
  --color-white: #fff9f9;
  --color-light-green: #76de37;
  --color-gray: #EBEBEB;
  --color-smoky-gray: #F4F4F4;
  --color-grey: #D9D9D933;
  --color-red: #FF0000;
  --color-green: #61FF00;
  --color-blue: #5D7DF0;
  --color-dark-gray: #DDDDDD;
  --color-dark: #C6C6C6
}

/* styles.css */

::-webkit-scrollbar {
  width: 0px; 
  background-color: transparent
}

